table {
	border: 1px solid #000;
}
table td {
	/*text-transform: lowercase;*/
	vertical-align: top;
	padding: 5px;
}
.payment-col-title {
	font-weight: bold;
	margin-bottom: 4px;
}
.duty-col-title {
	font-weight: bold;
}
#state_duty_payment { width: 320px; }
#payment { width: 250px; }
